# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.LD48.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\laxin\LD48\LD48\.idea\.idea.LD48\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
